<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="productRepositoryImplBean"
          class="com.javaguru.shoppinglist.repository.ProductRepositoryImpl">
    </bean>
    <bean id="productValidationServiceBean"
          class="com.javaguru.shoppinglist.service.ProductValidationService">
        <constructor-arg ref = "productRepositoryImplBean"/>
    </bean>

    <bean id="productServiceBean"
          class="com.javaguru.shoppinglist.service.ProductService">
        <constructor-arg index="0" ref="productRepositoryImplBean"/>
        <constructor-arg index="1" ref="productValidationServiceBean"/>
    </bean>

    <bean id="consoleUIBean"
          class="com.javaguru.shoppinglist.console.ConsoleUI">
        <constructor-arg ref = "productServiceBean"/>
    </bean>


</beans>